.about-us{
  position: relative;
  padding-top: 100px;
   
}
.img-about{
    box-shadow: rgba(0, 0, 0, 0.4) 0 22px 70px 4px;
    border: solid 3px #f35fad;
    cursor: pointer;
    transition: ease-in .2s;
    border-radius: 20px;
}
.img-about:hover{
transform: scale(1.1);
}

@media screen and (max-width: 576px) {
    .about-us {
        top: 50px;
    }

    p {
        font-size: 20px;
    }

    .img-about {
        width: 150px;
        height: 160px;
        margin-bottom: 5px;

    }
    h1{
        padding-top: 25px;
    }
}
