.navbar{
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.nav-link{
    color: #c9295b;
    font-size: 18px;
    padding-left: 5px;
    cursor: pointer;
    font-weight: 500;


}

.nav-link:hover{
    color: white;
}
.nav-link:active{
    text-decoration: none;
    color: palevioletred;
}
.logo{
    transition: ease-in .2s;
    cursor: pointer;


}
.logo:hover{
    transform: scale(1.3);
}

