.container-sm{
    padding-bottom: 15px;
}
.facebook-icon {
    color: #1226bd;
    font-size: 30px;
    border-radius: 50%;
    transition: ease-in .2s;
}
.instagram-icon {
    color: #cb1a7b;
    font-size: 30px;
    transition: ease-in .1s;
}
.facebook-icon:hover, .instagram-icon:hover {
    transform: scale(1.2);
}
